@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4)
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    color: white;
    background-color: #fbf9ff;
}

.container {
    width: 100%;
    height: 6000px;
}

/*==========menu==========*/

.menu_header {
    background-color: #373b49;
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 999;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.menu {
    display: flex;
    justify-content: space-between;
}

.logo {
    color: White;
    padding: 15px;
    cursor: context-menu;
    text-align: center;
}

.menu-list {
    display: flex;
    align-items: center;
}

.menu-list ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.menu-item {
    margin: 20px;
    margin-right: 50px;
}

.menu-link {
    text-decoration: none;
    font-size: 15px;
    color: white;
    font-weight: 700;
    transition: 0.4s;
}

.menu-link:hover {
    color: greenyellow;
}

.mobile-menu-icon {
    padding: 5px;
}

.mobile-menu-icon {
    display: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.mobile-menu-icon:hover {
    background-color: rgba(26, 30, 46, 0.2);
}

.mobile-menu {
    display: none;
    background-color: #373b49;
}

@media screen and (max-width: 730px) {
    .menu-item {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 5px;
    }
    .mobile-menu .menu-item {
        display: block;
        padding: 5px 10px;
    }
    .mobile-menu {
        width: 100%;
    }
    .open {
        display: block;
    }
}

/*==========header==========*/

header {
    background-image: linear-gradient(to top, #1a1e2e, #373b49);
    width: 100%;
    height: 700px;
    position: relative;
}

.box_header {
    width: 71%;
    height: 700px;
    margin: auto;
}

.box_frase_header {
    width: 50%;
    height: 100%;
    position: relative;
}

@media screen and (max-width:1000px) {
    .box_frase_header {
        width: 100%;
    }
}

.frase_header {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@media screen and (max-width:1000px) {
    .frase_header {
        top: 40%;
    }
}

.frase_header > h2 {
    background-color: greenyellow;
    color: black;
    font-weight: 600;
    width: 120px;
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 3px 3px 0px rgba(172, 255, 47, 0.7);
    cursor: context-menu;
}

.frase_header > h1 {
    font-size: 24px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: context-menu;
}

@media screen and (max-width:536px) {
    .frase_header > h1 {
        font-size: 20px;
    }
}


.frase_header > h3 {
    font-size: 19px;
    font-weight: 400;
    cursor: context-menu;
}

@media screen and (max-width:536px) {
    .frase_header > h3 {
        font-size: 15px;
    }
}

.frase_header > p {
    text-align: justify;
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
    cursor: context-menu;
}

@media screen and (max-width:536px) {
    .frase_header > p {
        font-size: 12px;
    }
}

.box_lang {
    width: 100%;
    text-align: center;
}

.box_linguas {
    display: inline-block;
    width: 100px;
    height: 100px;
    text-align: center;
    margin-top: 50px;
    animation: lang 2s alternate infinite;
}

@media screen and (max-width:536px) {
    .box_linguas {
        width: 80px;
        height: 80px;
    }
}

@media screen and (max-width:370px) {
    .box_linguas {
        width: 60px;
        height: 60px;
    }
}

@keyframes lang {
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-10px);
    }
}

.box_linguas h1 {
    color: white;
    font-size: 20px;
    cursor: context-menu;
}

.box_linguas h1 {
    color: white;
    font-size: 20px;
    cursor: context-menu;
}

.box_linguas h1 {
    color: white;
    font-size: 20px;
    cursor: context-menu;
}

@media screen and (max-width:536px) {
    .box_linguas h1 {
        font-size: 15px;
    }
}

/*====*/

.box_bolha {
    width: 380px;
    height: 380px;
    background-image: url(assets/imgs/Me-paisagem.png);
    background-position: center center;
    position: absolute;
    bottom: 190px;
    right: 70px;
    box-shadow: 0px 0px 10px #ffffff66;
    animation: cres 2s alternate infinite;
}

@keyframes cres {
    0% {
        border-radius: 50%;
    }
    100%{
        border-radius: 42%;
    }
}

.box_bolha:hover {
    animation-duration: 1s;
}

@media screen and (min-width:1330px) {
    .box_bolha {
        right: 240px;
    }
}

@media screen and (max-width:1000px) {
    .box_bolha {
        top: 75%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 200px;
        height: 200px;
        background-image: url(assets/imgs/Me-paisagem-peq.png);
    }
}

@media screen and (max-width:536px) {
    .box_bolha {
        top: 80%;
    }
}

/*==========*/

.icons {
    position: absolute;
    bottom: 20px;
    right: 10px;
    width: 60px;
}

.icons svg {
    width: 30px;
    height: 30px;
    padding: 8px;
    margin: 5px;
    border-radius: 50%;
    transition: 0.4s;
}

.icons svg:hover {
    transform: translateX(-10px);
    background-color: #acff2f33;
}


/*==========certificados==========*/

.box_certificados {
    width: 100%;
    height: auto;
    background-image: linear-gradient(to top, #373b49, #1a1e2e, #1a1e2e);
}

.box_certificados h1 {
    text-align: center;
    padding-top: 150px;
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: 400;
    cursor: context-menu;
}

.certificados {
    margin-top: 50px;
    text-align: center;
    padding-bottom: 100px;
}

.certificados img {
    width: 200px;
    text-align: center;
    margin: 10px;
    box-shadow: 0px 0px 10px #ffffff4d;
}

@media screen and (max-width: 465px) {
    .certificados img {
        width: 150px;
    }
}

.certificados p {
    max-width: 600px;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    font-size: 20px;
    text-align: justify;
    text-shadow: 0px 0px 10px #000000cc;
    cursor: context-menu;
}

/*====*/

.certificados-a {
    display: inline-block;
}

.certificados-b {
    display: inline-block;
}

/*==========sobre mim==========*/

.box_sobre {
    width: 100%;
    height: 700px;
    background-image: linear-gradient(to top, #1a1e2e, #1a1e2e, #373b49);
}

.box_sobre h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    padding-top: 100px;
    padding-bottom: 100px;
}

.sobre {
    width: 80%;
    height: auto;
    margin: auto;
    position: relative;
}

.box_sobre p {
    max-width: 400px;
    font-size: 18px;
    text-align: justify;
    position: absolute;
    top: 55px;
    right: 55px;
}

@media screen and (max-width:1080px) {
    .box_sobre p {
        position: initial;
        margin: auto;
        padding-top: 50px;

    }
}

.box_cor {
    width: 385px;
    height: 385px;
    background-image: linear-gradient(to top, #1a1e2e, #1a1e2e, #373b49);
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    place-items: center;
    display: grid;
}

@media screen and (max-width:1080px) {
    .box_cor {
        margin: auto;
        width: 350px;
        height: 350px;
    }
}

@media screen and (max-width:430px) {
    .box_cor {
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width:360px) {
    .box_cor {
        width: 250px;
        height: 250px;
    }
}

.box_cor::before {
    content: '';
    position: absolute;
    width: 800px;
    height: 800px;
    background-image: conic-gradient(transparent, transparent, transparent, greenyellow);
    animation: rotate 6s linear infinite;
    animation-delay: -3s;
}

.box_cor::after {
    content: '';
    position: absolute;
    width: 800px;
    height: 800px;
    background-image: conic-gradient(transparent, transparent, transparent, greenyellow);
    animation: rotate 6s linear infinite;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.box_cor > span {
    width: 380px;
    height: 380px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    background-image: url(assets/imgs/Me-paisagem.png);
    background-position: center center;
    z-index: 2;
}

@media screen and (max-width:1080px) {
    .box_cor > span {
        width: 345px;
        height: 345px;
    }
}

@media screen and (max-width:430px) {
    .box_cor > span {
        width: 295px;
        height: 295px;
        background-position: top center;
    }
}

@media screen and (max-width:360px) {
    .box_cor > span {
        width: 245px;
        height: 245px;
    }
}

/*==========projetos==========*/

.box_projetos {
    width: 100%;
    height: auto;
    background-image: linear-gradient(to top, #373b49, #1a1e2e, #1a1e2e);
}

.box_projetos > h1 {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 30px;
    font-weight: 400;
}

@media screen and (max-width:1080px) {
    .box_projetos h1 {
        padding-top: 350px;
    }
}

/*====*/

.projeto-a {
    margin: auto;
    text-align: center;
}

.projeto-a p {
    font-size: 20px;
    margin: auto;
    padding-bottom: 20px;
    max-width: 350px;
}

/*====*/

.span-a {
    display: inline-block;
}

.span-b {
    display: inline-block;
    margin-bottom: 10px;
}

.span_ft-a {
    width: 200px;
    height: 200px;
    background-image: url(assets/imgs/site\ comera-ft1.PNG);
    display: inline-block;
}

.span_ft-b {
    width: 200px;
    height: 200px;
    background-image: url(assets/imgs/site\ comera-ft2.PNG);
    display: inline-block;
}

.span_ft-c {
    width: 200px;
    height: 200px;
    background-image: url(assets/imgs/site\ comera-ft3.PNG);
    display: inline-block;
}

.span_ft-d {
    width: 200px;
    height: 200px;
    background-image: url(assets/imgs/site\ comera-ft4.PNG);
    display: inline-block;
}

.projeto-a a {
    font-size: 15px;
    color: white;
    padding: 10px;
    width: 220px;
    border-radius: 10px;
    text-decoration: none;
    background-color: #4a740b;
    transition: 0.4s;
    display: block;
    text-align: center;
    margin: auto;
    margin-bottom: 100px;
}

.projeto-a a:hover {
    background-color: #649e0e;
}


/*====*/

.projeto-a {
    margin: auto;
    text-align: center;
}

.projeto-a p {
    font-size: 20px;
    margin: auto;
    padding-bottom: 20px;
    max-width: 350px;
}

/*====*/

.span-a {
    display: inline-block;
}

.span-b {
    display: inline-block;
    margin-bottom: 10px;
}

.projeto-b iframe {
    width: 400px;
    height: 450px;
}

.projeto-b a {
    font-size: 15px;
    color: white;
    padding: 10px;
    width: 220px;
    border-radius: 10px;
    text-decoration: none;
    background-color: #4a740b;
    transition: 0.4s;
    display: block;
    text-align: center;
    margin: auto;
    margin-bottom: 100px;
}

.projeto-b a:hover {
    background-color: #649e0e;
}

/*====*/

.projeto-b {
    margin: auto;
    text-align: center;
}

.projeto-b p {
    font-size: 20px;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 20px;
    max-width: 350px;
}

/*====*/

.projeto-c a {
    font-size: 15px;
    color: white;
    padding: 10px;
    width: 220px;
    border-radius: 10px;
    text-decoration: none;
    background-color: #4a740b;
    transition: 0.4s;
    display: block;
    text-align: center;
    margin: auto;
    margin-bottom: 100px;
}

.projeto-c a:hover {
    background-color: #649e0e;
}

.projeto-c iframe {
    width: 400px;
    height: 350px;
    margin-bottom: 10px;
}

/*====*/

.projeto-c {
    margin: auto;
    text-align: center;
}

.projeto-c p {
    font-size: 20px;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 20px;
    max-width: 350px;
}



/*====*/

.projeto-d {
    margin: auto;
    text-align: center;
    padding-bottom: 100px;
}

.projeto-d p {
    font-size: 20px;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 20px;
    max-width: 350px;
}

/*====*/

.formulario {
    width: 70%;
    height: auto;
    margin: auto;
    background-color: white;
    color: black;
    border-radius: 5px;
}

@media screen and (max-width:500px) {
    .formulario {
        width: 90%;
    }
}

@media screen and (min-width:1500px) {
    .formulario {
        width: 60%;
    }
}


.formulario > h1 {
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}

.formulario > p {
    font-size: 15px;
    padding: 0;
    font-weight: 500;
    text-align: center;
}

/*=====*/

.box_formulario {
    width: 60%;
    margin: auto;
    padding: 10px;
}

#nome {
    background-color: #d8d8d8;
    display: block;
    padding: 5px;
    width: 90%;
    border-radius: 4px;
}

#nome::placeholder {
    color: rgba(0, 0, 0, 0.7);
}

#sobrenome {
    background-color: #d8d8d8;
    display: block;
    padding: 5px;
    width: 90%;
    border-radius: 4px;
}

#sobrenome::placeholder {
    color: rgba(0, 0, 0, 0.7);
}

#email {
    background-color: #d8d8d8;
    display: block;
    padding: 5px;
    width: 90%;
    border-radius: 4px;
}

#email::placeholder {
    color: rgba(0, 0, 0, 0.7);
    text-align: end;
}

#senha {
    background-color: #d8d8d8;
    display: block;
    padding: 5px;
    width: 90%;
    border-radius: 4px;
}

#senha::placeholder {
    color: rgba(0, 0, 0, 0.7);
    text-align: end;
}


#data_nascimento {
    background-color: #d8d8d8;
    display: block;
    padding: 5px;
    width: 90%;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.box_formulario > h6 {
    font-size: 14px;
    color: rgb(59, 59, 59);
    text-align: initial;
    margin: 0;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 5px;
    cursor: context-menu;
}

/*====*/

.reposta {
    text-align: initial;
    padding: 8px;
    padding-left: 0px;
}

#botao_confirmar {
    cursor: pointer;
}

.reposta > h6 {
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    cursor: context-menu;
}


/*====*/

.box_formulario a {
    text-decoration: none;
}

.box_formulario a h1{
    width: 8rem;
    padding: 10px;
    background-color: #00c3ff;
    color: white;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    transition: 0.4s;
    font-size: 18px;
}

.box_formulario a h1:hover {
    background-color: #0d9dc9;
}




/*==========scrol revel==========*/

.movimento-a, .movimento-b {
    visibility: hidden;
}

/*==========scrol bar==========*/

::-webkit-scrollbar {
    background-color: #2b2e3a;
}

::-webkit-scrollbar-thumb {
    background-color: #1f222c;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #15171d;
}